In [ ]:
import json

In [ ]:
fd = open("record.json","r")
r = fd.read()
fd.close()

record = json.loads(r)

In [ ]:
record

{'1': {'catogary': 'Chocolate',
  'discount': 0,
  'name': 'Dairy Milk',
  'price': 5,
  'quantity': 50},
 '10': {'catogary': 'Chocolate',
  'discount': 0,
  'name': 'Nestle',
  'price': 5,
  'quantity': 23},
 '11': {'catogary': 'Chocolate',
  'discount': 0,
  'name': 'Cadbury',
  'price': 10,
  'quantity': 150},
 '12': {'catogary': 'Chocolate',
  'discount': 0,
  'name': 'Amul',
  'price': 5,
  'quantity': 20},
 '13': {'catogary': 'Chocolate',
  'discount': 10,
  'name': 'Ferro Rocher',
  'price': 15,
  'quantity': 560},
 '14': {'catogary': 'Chocolate',
  'discount': 5,
  'name': 'Hershey',
  'price': 5,
  'quantity': 500},
 '15': {'catogary': 'Chocolate',
  'discount': 0,
  'name': 'Mars',
  'price': 5,
  'quantity': 102},
 '16': {'catogary': 'Chocolate',
  'discount': 0,
  'name': 'Galaxy',
  'price': 20,
  'quantity': 80},
 '17': {'catogary': 'Chocolate',
  'discount': 0,
  'name': 'Milkybar',
  'price': 5,
  'quantity': 90},
 '18': {'catogary': 'Chocolate',
  'discount': 0,
  'name': 'Amul Dark Chocolate',
  'price': 80,
  'quantity': 70},
 '19': {'catogary': 'Chocolate',
  'discount': 0,
  'name': 'Ferrero Rocher Chocolate Balls',
  'price': 50,
  'quantity': 150},
 '2': {'catogary': 'Chocolate',
  'discount': 0,
  'name': 'Barbon',
  'price': 5,
  'quantity': 50},
 '20': {'catogary': 'Cup Cake/Choco Pie',
  'discount': 0,
  'name': 'Lottry Choco Pie',
  'price': 10,
  'quantity': 90},
 '21': {'catogary': 'Snake',
  'discount': 0,
  'name': 'Kurkure',
  'price': 5,
  'quantity': 50},
 '22': {'catogary': 'Snakes',
  'discount': 0,
  'name': 'TakaTak',
  'price': 10,
  'quantity': 50},
 '23': {'catogary': 'Snakes',
  'discount': 0,
  'name': 'Uncle Chips',
  'price': 5,
  'quantity': 30},
 '24': {'catogary': 'Toffy',
  'discount': 0,
  'name': 'Eclayers  ',
  'price': 1,
  'quantity': 10000},
 '25': {'catogary': 'Toffy',
  'discount': 0,
  'name': 'Apple Lebals',
  'price': 1,
  'quantity': 20000},
 '26': {'catogary': 'Toffy',
  'discount': 0,
  'name': 'Pluse',
  'price': 1,
  'quantity': 9000},
 '27': {'catogary': 'Toffy',
  'discount': 0,
  'name': 'KissMe',
  'price': 2,
  'quantity': 8000},
 '28': {'catogary': 'Soft Drink',
  'discount': 0,
  'name': 'Maza',
  'price': 20,
  'quantity': 500},
 '29': {'catogary': 'Soft Drink',
  'discount': 0,
  'name': 'fruty',
  'price': 45,
  'quantity': 600},
 '3': {'catogary': 'Chocolate',
  'discount': 0,
  'name': 'Barbon',
  'price': 10,
  'quantity': 30},
 '30': {'catogary': 'Soft Drink',
  'discount': 0,
  'name': 'Sprite',
  'price': 15,
  'quantity': 800},
 '4': {'catogary': 'Chocolate',
  'discount': 0,
  'name': 'Dairy Milk',
  'price': 10,
  'quantity': 62},
 '5': {'catogary': 'Chocolate',
  'discount': 0,
  'name': 'Kitkat',
  'price': 5,
  'quantity': 42},
 '6': {'catogary': 'Chocolate',
  'discount': 0,
  'name': 'Kitkat',
  'price': 20,
  'quantity': 53},
 '7': {'catogary': 'Chocolate',
  'discount': 0,
  'name': '5 star',
  'price': 5,
  'quantity': 100},
 '8': {'catogary': 'Chocolate',
  'discount': 0,
  'name': 'Galaxy',
  'price': 5,
  'quantity': 230},
 '9': {'catogary': 'Chocolate',
  'discount': 0,
  'name': 'Dairy Milk Silk',
  'price': 50,
  'quantity': 30}}

In [ ]:
prod_id = str(input("enter product id"))
catogary = str(input("enter category :"))
discount = str(input("enter discount"))
name = str(input("enter name"))
price = int(input("enter price"))
quantity = int(input("enter quantity"))

enter product id31
enter category :snake
enter discount0
enter namehdd
enter price100
enter quantity200

In [ ]:
 record[prod_id] = {'category' : catogary, 'discount' : discount, 'name' : name, 'price' : price, 'quantity' : quantity}

In [ ]:
record

In [ ]:
js = json.dumps(record)

fd = open("record.json",'w')
fd.write(js)
fd.close()

In [ ]:
record